:root {
    --background-color: #2c2c2c;
    --text-color: #d3d3d3;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

.pattern-container {
    width: 300px;
    height: auto;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#errorMessage {
    color: red;
    font-style: italic;
}

p {
    margin: 0;
}

button {
    width: 50%;
}

#downloadLink, button {
    display:block;
    background:lightgrey;
    border-radius: 5px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    color: black;
    text-decoration:none;
    font-family: monospace;
    font-size:1em;
    text-align:center;
    padding: 5px 10px;
    margin: 10px auto;
}

#downloadLink:hover, button:hover {
    background:grey;
    border-color: lightgrey;
}

#downloadLink:active, button:active {
    background:lightgrey;
    border-color: grey;
}

:invalid {
    border-color: red;
}

#numbersOptions {
    display: none;
}

#numbers:checked ~ #numbersOptions {
    display: block;
}

fieldset #strokeOrder:checked ~ #fullKeypadLayoutOption {
    visibility: hidden;
    pointer-events: none;
    color: #c2c2c2;
}

.fieldset {
    display: flex;
    align-items: center;
}

.fieldsetElement {
    flex: 1;
}

line, text, circle, rect {
    pointer-events: none;
}

circle.permanent {
    pointer-events: auto;
}